<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAIAPIKey</key>
	<string>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</string>
</dict>
</plist>
