<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAIAPIKey</key>
	<string>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</string>
</dict>
</plist>
